.deepseek-popup {
    position: relative;
    padding: 0 0 0 13px;
    margin: 0;
    line-height: 26px;
    color: #8b8b8b;
    text-align: left;
    white-space: pre-wrap;
    border-left: 2px solid #e5e5e5;
}

.deepseek-header {
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #eee;
}
